In [0]:
#@title Numbers Teaching Mode { display-mode: "form" }

In [0]:
#@title Numbers Database Creation
import shelve

numbers = shelve.open('Numbers.db')
try:
    numbers['0-10'] = { 'zero': 0, 'Uno': 1, 'Dos': 2, 'Tres': 3, 'Quattro': 4, 'Cinco': 5, 'Seis': 6, 'Siete': 7, 'Ocho': 8, 'Nueve': 9, 'Diez': 10}
    numbers['11-20'] = {'eleven': 11, 'twelve': 12, 'thirteen': 13, 'fourteen': 14, 'fifteen': 15, 'sixteen': 16, 'seventeen': 17, 'eighteen': 18, 'nineteen': 9, 'twenty': 20}
finally:
    numbers.close()

In [0]:
#@title Print Database List
def print_db_list():
  
  import shelve
  main = shelve.open('main.db')
  db_list = list(main['db_list'].values())
  
  i = 1
  for dbname in db_list:
    print(1, '-', dbname)
    i += 1
 
  db_load = input("Please choose a database to load. Enter its name. ")
  
  while db_load not in db_list:
    print("Database not in the list. Try again")
    db_load = input("Please choose a database to load. Enter its name. ")

  return(db_load)

In [0]:
#@title Print Database Keys/numbers

def load_db(db_load):
  
  # Connect to database
  db = shelve.open(db_load+'.db')
  
  # Print keys
  i = 1
  for key in numbers.keys():
    print(i,'-', key)
    i += 1  
  
  see_more = input("Would you like to see a set of information? ")

  
  numbers.close()

In [0]:
#@title Teach Database


database = input("What database would you like to teach? ")

import shelve

numbers = shelve.open(database+'.db')

taught_set = input("Give the information you are about to teach a Reference: ")
lesson_material = input("OK. Please teach by entering the word and meaning separated by a '-': ")
  
dash_count = lesson_material.count('-') # check there is only one split
if dash_count == 1:
  term, meaning = lesson_material.split("-") # check there are two terms
  term = term.strip()
  meaning = meaning.strip()
else:
  print("Make sure you put in only one term and meaning with only one dash!")
  
#  add to the dictionary
material_dictionary = {}
material_dictionary[term] = meaning
  
# add finished dictionary to the database
numbers[taught_set] = material_dictionary
  
numbers.close()

In [0]:
#@title Extract Data
#import shelve

#try:
 #   numbers = shelve.open('numbers.db')
  #  zero10 = numbers['0-10']
   # eleven20 = numbers['11-20']
    
#finally:
 #   numbers.close()


#print(zero10['two'])
#print(eleven20)

In [0]:
#@title Numbers Database Creation
import shelve

numbers = shelve.open('main.db')
print(numbers.keys())
numbers.close()

In [0]:
def run_teaching_mode():
  
  print_db_list()

In [15]:
run_teaching_mode()

1 - Numbers
Please choose a database to load. Enter its name. dfd
Database not in the list. Try again
Please choose a database to load. Enter its name. Numbers